.BotPane {
  text-align: left;
  background-color: #333;
  padding: 0 12px;
}

.BotPane-select-wrapper {
  clear: both;
  height: 30px;
}

.BotPane-select, .BotPane-refresh {
  float: left;
}

.BotPane-refresh {
  float: right;
  cursor: pointer;
  padding: 4px 8px;
  background-color: #222;
  border-radius: 5px;
}

.BotPane-refresh:hover {
  background-color: #111;
}
